@page
@model NddcWebsiteCMS.Pages.Home.News.AddNewsModel
@{
    ViewData["News"] = "active";
}

<div id="loading" style="display: none;">
    <!-- Loading message or animation -->
    <h2>Loading...</h2>
</div>


<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between py-4">
            <h4 class="mb-sm-0">Add News</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">News</a></li>
                    <li class="breadcrumb-item active">Add News</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="card col-9 border rounded-4 justify-content-center">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="firstNameinput" class="form-label">News Title</label>
                            <input type="text" class="form-control bg-light border-0 " placeholder="Enter News Subject(75 char.)" id="firstNameinput" name="News.Subject" value="" maxlength="75">
                        </div>
                    </div><!--end col-->
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="lastNameinput" class="form-label">News Summary</label>
                            <textarea class="form-control bg-light border-0" placeholder="Enter News Summary (280 char.)" id="exampleFormControlTextarea5" rows="3" name="News.Summary" maxlength="280"></textarea>
                        </div>
                    </div><!--end col-->
                    <div class="col-12">
                        <label for="compnayNameinput" class="form-label">Set As Slider</label>
                        <select class="form-select bg-light border-0 bg-light border-0 mb-3" aria-label="Default select example" data-val="true" data-val-required="The SetAsSlide field is required." id="News_SetAsSlide" name="News.SetAsSlide">
                            <option selected="0">NO </option>
                            <option value="1">YES</option>
                        </select>
                    </div><!--end col-->
                    <div class="col-12">
                        <label for="compnayNameinput" class="form-label">News Department</label>
                        <select class="form-select bg-light border-0 bg-light border-0 mb-3" aria-label="Default select example" data-val="true" data-val-required="The NDID field is required." id="News_NDID" name="News.NDID">
                            <option selected="">Select</option>
                            <option value="2">Corporate Affairs Department</option>
                        </select>
                    </div><!--end col-->
                    <div class="col-12">
                        <label for="compnayNameinput" class="form-label">News Type</label>
                        <select class="form-select bg-light border-0 bg-light border-0 mb-3" aria-label="Default select example" id="News_Type" name="News.Type">
                            <option selected="">Select</option>
                            <option value="1">Press Statement</option>
                            <option value="2">Press Release</option>
                            <option value="3">Program</option>
                        </select>
                    </div><!--end col-->
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="address1ControlTextarea" class="form-label">Publish Date</label>
                            <input type="date" class="form-control bg-light border-0" placeholder="Set Publish Date" id="address1ControlTextarea" data-val="true" data-val-required="The PublishDate field is required." name="News.PublishDate" value="2024-01-22">
                        </div>
                    </div><!--end col-->
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="citynameInput" class="form-label">Expiry Date</label>
                            <input type="date" class="form-control bg-light border-0" placeholder="Post Expiry Date" id="citynameInput" data-val="true" data-val-required="The ExpiryDate field is required." name="News.ExpiryDate" value="2024-01-22">
                        </div>
                    </div><!--end col-->
                    <div class="col-12">
                        <div class="mb-3">
                            @if(Model.ImageIsSmall == true)
                            {
                                <!-- danger Alert -->
                                <div class="alert alert-danger" role="alert">
                                    <strong> Image Cannot Be Uploaded! </strong> The file size is less than 1894x731 pixels.
                                </div>
                            }
                            <label class="form-label" for="customFile">Add Image <b>(Image Size Must be equal to or larger than 1894 x 731 px)</b></label>
                            <input type="file" class="form-control bg-light border-0" id="customFile" data-val="true" data-val-required="The Upload field is required." name="Upload">
                        </div>
                    </div>
                    <!--Editor-->
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="citynameInput" class="form-label">News Details</label>
                            <label id="editor" bg-light="" border-0"="" for="News_Details" style="display: none;">Details</label>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-12">
                        <div class="text-end">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
                
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <!--Ck Editor-->
    <script src="https://cdn.ckeditor.com/ckeditor5/40.0.0/classic/ckeditor.js"></script>

    <script>
        ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => {
                console.error(error);
            });
    </script>

    
}