@page
@model NddcWebsiteCMS.Pages.Home.Publications.EditPublicationsModel
@{
}
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between py-4">
            <h4 class="mb-sm-0">Edit Publications</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Publications</a></li>
                    <li class="breadcrumb-item active">Edit Publications</li>
                </ol>
            </div>

        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="card col-9 border rounded-4 justify-content-center ">
        <div class="card-body">
            <form action="javascript:void(0);">
                <div class="row">
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="firstNameinput" class="form-label">Publications Header</label>
                            <input type="text" class=" form-control bg-light border-0" placeholder="Enter Publications Name (75 char.)" id="firstNameinput" maxlength="75">
                        </div>
                    </div><!--end col-->

                    <div class="col-12">
                        <div class="mb-3">
                            <label for="lastNameinput" class="form-label">Publication Type</label>
                            <select class="form-select bg-light border-0 mb-3" aria-label="Select Publication Type">
                                <option selected="">News Letter </option>
                                <option value="2">Publication</option>
                            </select>
                        </div>
                    </div><!--end col-->

                    <div class="col-12">
                        <div class="mb-3">
                            <label class="form-label" for="customFile">Add Publication Image  (255 x 165 px)</label>
                            <input type="file" class="form-control bg-light border-0" id="customFile" />
                        </div>
                    </div>


                </div>
                <div class="col-lg-12">
                    <div class="text-end">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div><!--end col-->
            </form>
        </div>
    </div>
</div>