@page
@model NddcWebsiteCMS.Pages.Home.Adverts.TendersModel
@{
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between py-4">
            <h4 class="mb-sm-0"> All Tenders</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/Home/Adverts/Tenders">Adverts and Tenders</a></li>
                    <li class="breadcrumb-item active">All Tenders</li>
                </ol>
            </div>

        </div>
    </div>
</div>

<div class="container table-responsive py-5">
    <div class=" p-3 justify-content-end align-items-center d-flex">
        <div>
            <a asp-page="AddTenders" class="btn btn-primary">
                Create Tenders
            </a>
        </div>
    </div><!-- end card-header -->
    <table class="table table-hover">
        <thead class="shadow border border-primary">
            <tr class="text-primary fs-5">
                <th scope="col">Project Title</th>
                <th scope="col">Date of Adverts </th>
                <th scope="col">Deadline Date</th>
                <th scope="col">Category</th>
                <th scope="col">View Documents</th>

            </tr>
        </thead>
        <tbody class="text-opacity-25 bg-white" style="border: white;">
            <tr class="shadow-sm bg-body-tertiary rounded">
                <th scope="row">Recent Project</th>
                <td>15/03/2020</td>
                <td>15/03/2024</td>
                <td>Road</td>
                <td class="text-center"><a><i class="bx bx-down-arrow-alt"></i></a></td>

            </tr>
            <tr class="shadow-sm bg-body-tertiary rounded">
                <th scope="row">Recent Project</th>
                <td>15/03/2020</td>
                <td>15/03/2024</td>
                <td>Road</td>
                <td class="text-center"><a><i class="bx bx-down-arrow-alt"></i></a></td>
            </tr>
            <tr class="shadow-sm bg-body-tertiary rounded">
                <th scope="row">Recent Project</th>
                <td>15/03/2020</td>
                <td>15/03/2024</td>
                <td>Road</td>
                <td class="text-center"><a><i class="bx bx-down-arrow-alt"></i></a></td>
            </tr>
            <tr class="shadow-sm bg-body-tertiary rounded">
                <th scope="row">Recent Project</th>
                <td>15/03/2020</td>
                <td>15/03/2024</td>
                <td>Road</td>
                <td class="text-center"><a><i class="bx bx-down-arrow-alt"></i></a></td>
            </tr>
            <tr class="shadow-sm bg-body-tertiary rounded">
                <th scope="row">Recent Project</th>
                <td>15/03/2020</td>
                <td>15/03/2024</td>
                <td>Road</td>
                <td class="text-center"><a><i class="bx bx-down-arrow-alt"></i></a></td>
            </tr>
            <tr class="shadow-sm bg-body-tertiary rounded">
                <th scope="row">Recent Project</th>
                <td>15/03/2020</td>
                <td>15/03/2024</td>
                <td>Road</td>
                <td class="text-center"><a><i class="bx bx-down-arrow-alt"></i></a></td>
            </tr>
            <tr class="shadow-sm bg-body-tertiary rounded">
                <th scope="row">Recent Project</th>
                <td>15/03/2020</td>
                <td>15/03/2024</td>
                <td>Road</td>
                <td class="text-center"><a><i class="bx bx-down-arrow-alt"></i></a></td>
            </tr>
        </tbody>
    </table>
</div>

@section Scripts {
    <!--Ck Editor-->
    <script src="https://cdn.ckeditor.com/ckeditor5/40.0.0/classic/ckeditor.js"></script>

    <script>
        ClassicEditor
            .create( document.querySelector( '#editor' ) )
            .catch( error => {
                console.error( error );
            } );
    </script>
     
}