@page
@model NddcWebsiteCMS.Pages.Home.Adverts.TendersModel
@{
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between py-4">
            <h4 class="mb-sm-0"> All Tenders</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/Home/Adverts/Tenders">Adverts and Tenders</a></li>
                    <li class="breadcrumb-item active">All Tenders</li>
                </ol>
            </div>

        </div>
    </div>
</div>

<div class="container table-responsive py-5">
    <div class=" p-3 justify-content-end align-items-center d-flex">
        <div>
            <a asp-page="AddTenders" class="btn btn-primary">
                Create Tenders
            </a>
        </div>
    </div><!-- end card-header -->
    <div class="card">
        <div class="card-body p-5">
            @* @foreach (var item in Model.Announcements)
            { *@
                <div class="row">
                    <!-- Simple card -->
                    <div class="card bg-light">
                        <div class="card-body bg-light rounded-4 p-3">
                        <div class="d-flex position-relative align-items-center justify-content-between"></div>
                            <h4 class="card-title mb-2">Project Title</h4>
                            <p class="text-muted fs-12 mb-0">Date of Adverts: StartDate </p><p class="text-muted fs-12 mb-0">Deadline Date: EndDate</p>
                            <p>Category</p>
                            <p>View Documents <i class="bx bx-down-arrow-alt"></i></p>
                            <div class="flex-shrink-0 avatar-xs align-self-center me-3 mt-1">
                                <div class="d-flex">
                                    <a class="fs-4 ps-0 text-primary btn text-center" asp-page="EditAnnouncements">
                                        <i class="las la-pen-square"></i>
                                    </a>
                                    <a class="fs-4 text-danger btn text-center" asp-page="DeleteAnnouncements">
                                        <i class="las la-trash-alt"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div><!-- end card -->
                </div>
            @* } *@
        </div>

    </div>
</div>
@section Scripts {
    <!--Ck Editor-->
    <script src="https://cdn.ckeditor.com/ckeditor5/40.0.0/classic/ckeditor.js"></script>

    <script>
        ClassicEditor
            .create( document.querySelector( '#editor' ) )
            .catch( error => {
                console.error( error );
            } );
    </script>
     
}