@page "{Id:int?}"
@model NddcWebsiteCMS.Pages.Home.Announcements.DeleteAnnouncementsModel
@{
}
<h1>Are You Sure You Want to Delete this Announcement</h1>

<form method="post">
    <button type="submit" class="btn btn-primary">Delete</button>
</form>