html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.page-content {
    background-color: #F3F6F9;
}

.navbar-header {
    background-color: #071D53;
}

.sidebar-background {
    background-color: #071D53;
}

.navbar-menu .navbar-nav .nav-link svg {
    color: white;
}

.navbar-menu .navbar-nav .nav-link {
    color: white;
}