@page "{Id:int?}"
@model NddcWebsiteCMS.Pages.Home.PhotoSpeak.DeletePhotoModel
@{
}

<h1>Are You Sure You Want to Delete Photo</h1>

<form method="post">
    <button type="submit" class="btn btn-primary">Delete</button>
</form>