@page
@model NddcWebsiteCMS.Pages.Media.Sights.AllSightsModel
@{
}
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between py-4">
            <h4 class="mb-sm-0">All Sights And Icons</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Sights And Icons</a></li>
                    <li class="breadcrumb-item active">All Sights And Icons</li>
                </ol> 
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="">
        <div class="p-3 justify-content-end align-items-center d-flex">
            <div>
                <a href="/Media/Sights/AddSights" type="button" class="btn btn-primary">
                    Create Sights
                </a>
            </div>
        </div><!-- end card-header -->
        <div class="card">
            

                <div class="card-body">
                    <div class="card border-0">
                        <div class="card-body bg-light rounded-4 p-3 d-flex">
                                <div class="d-flex align-middle pb-2">
                                <div class="flex-shrink-0">
                                    <img src="/images/small/img-1.jpg" class="rounded img-fluid" style="height:120px;" alt="">
                                </div>
                                <div class="flex-grow-1 ms-3 d-flex justify-content-between">
                                    <div>
                                        <p class=" fs-12 mb-0">Title </p>
                                        <h6 class="mb-1 fs-12">Summary</h6>
                                        <h6 class="mb-1 lh-base">
                                            <a href="#" class="text-reset">
                                            Description: This is due to their excellent service, competitive pricing and customer support. 
                                            It’s throughly refresing to get such a personal touch. 
                                            Duis aute lorem ipsum is simply free text irure dolor in reprehenderit in esse 
                                            nulla pariatur.
                                            </a>
                                        </h6>
                                    </div>
                                    <div class="flex-shrink-0 avatar-xs align-self-center me-3">
                                        <a href="/Home/News/EditNews" class="avatar-title bg-light rounded-circle fs-16 text-primary btn ">
                                            <i  class="bx bx-dots-horizontal-rounded"></i>
                                        </a>
                                    </div>
                                </div>
                            </div><!-- end -->
                            </div>
                    </div>
                    <div class="card border-0">
                        <div class="card-body bg-light rounded-4 p-3 d-flex">
                                <div class="d-flex align-middle pb-2">
                                <div class="flex-shrink-0">
                                    <img src="/images/small/img-1.jpg" class="rounded img-fluid" style="height:120px;" alt="">
                                </div>
                                <div class="flex-grow-1 ms-3 d-flex justify-content-between">
                                    <div>
                                        <p class=" fs-12 mb-0">Title </p>
                                        <h6 class="mb-1 fs-12">Summary</h6>
                                        <h6 class="mb-1 lh-base">
                                            <a href="#" class="text-reset">
                                            Description: This is due to their excellent service, competitive pricing and customer support. 
                                            It’s throughly refresing to get such a personal touch. 
                                            Duis aute lorem ipsum is simply free text irure dolor in reprehenderit in esse 
                                            nulla pariatur.
                                            </a>
                                        </h6>
                                    </div>
                                    <div class="flex-shrink-0 avatar-xs align-self-center me-3">
                                        <a href="/Home/News/EditNews" class="avatar-title bg-light rounded-circle fs-16 text-primary btn ">
                                            <i  class="bx bx-dots-horizontal-rounded"></i>
                                        </a>
                                    </div>
                                </div>
                            </div><!-- end -->
                            </div>
                    </div>
                    <div class="card border-0">
                        <div class="card-body bg-light rounded-4 p-3 d-flex">
                                <div class="d-flex align-middle pb-2">
                                <div class="flex-shrink-0">
                                    <img src="/images/small/img-1.jpg" class="rounded img-fluid" style="height:120px;" alt="">
                                </div>
                                <div class="flex-grow-1 ms-3 d-flex justify-content-between">
                                    <div>
                                        <p class=" fs-12 mb-0">Title </p>
                                        <h6 class="mb-1 fs-12">Summary</h6>
                                        <h6 class="mb-1 lh-base">
                                            <a href="#" class="text-reset">
                                            Description: This is due to their excellent service, competitive pricing and customer support. 
                                            It’s throughly refresing to get such a personal touch. 
                                            Duis aute lorem ipsum is simply free text irure dolor in reprehenderit in esse 
                                            nulla pariatur.
                                            </a>
                                        </h6>
                                    </div>
                                    <div class="flex-shrink-0 avatar-xs align-self-center me-3">
                                        <a href="/Home/News/EditNews" class="avatar-title bg-light rounded-circle fs-16 text-primary btn ">
                                            <i  class="bx bx-dots-horizontal-rounded"></i>
                                        </a>
                                    </div>
                                </div>
                            </div><!-- end -->
                            </div>
                    </div>
                    <div class="card border-0">
                        <div class="card-body bg-light rounded-4 p-3 d-flex">
                                <div class="d-flex align-middle pb-2">
                                <div class="flex-shrink-0">
                                    <img src="/images/small/img-1.jpg" class="rounded img-fluid" style="height:120px;" alt="">
                                </div>
                                <div class="flex-grow-1 ms-3 d-flex justify-content-between">
                                    <div>
                                        <p class=" fs-12 mb-0">Title </p>
                                        <h6 class="mb-1 fs-12">Summary</h6>
                                        <h6 class="mb-1 lh-base">
                                            <a href="#" class="text-reset">
                                            Description: This is due to their excellent service, competitive pricing and customer support. 
                                            It’s throughly refresing to get such a personal touch. 
                                            Duis aute lorem ipsum is simply free text irure dolor in reprehenderit in esse 
                                            nulla pariatur.
                                            </a>
                                        </h6>
                                    </div>
                                    <div class="flex-shrink-0 avatar-xs align-self-center me-3">
                                        <a href="/Home/News/EditNews" class="avatar-title bg-light rounded-circle fs-16 text-primary btn ">
                                            <i  class="bx bx-dots-horizontal-rounded"></i>
                                        </a>
                                    </div>
                                </div>
                                </div><!-- end -->
                        </div>
                    </div>
                    <div class="card border-0">
                        <div class="card-body bg-light rounded-4 p-3 d-flex">
                                <div class="d-flex align-middle pb-2">
                                <div class="flex-shrink-0">
                                    <img src="/images/small/img-1.jpg" class="rounded img-fluid" style="height:120px;" alt="">
                                </div>
                                <div class="flex-grow-1 ms-3 d-flex justify-content-between">
                                    <div>
                                        <p class=" fs-12 mb-0">Title </p>
                                        <h6 class="mb-1 fs-12">Summary</h6>
                                        <h6 class="mb-1 lh-base">
                                            <a href="#" class="text-reset">
                                            Description: This is due to their excellent service, competitive pricing and customer support. 
                                            It’s throughly refresing to get such a personal touch. 
                                            Duis aute lorem ipsum is simply free text irure dolor in reprehenderit in esse 
                                            nulla pariatur.
                                            </a>
                                        </h6>
                                    </div>
                                    <div class="flex-shrink-0 avatar-xs align-self-center me-3">
                                        <a href="/Home/News/EditNews" class="avatar-title bg-light rounded-circle fs-16 text-primary btn ">
                                            <i  class="bx bx-dots-horizontal-rounded"></i>
                                        </a>
                                    </div>
                                </div>
                                </div><!-- end -->
                        </div>
                    </div>
                    <div class="card border-0">
                        <div class="card-body bg-light rounded-4 p-3 d-flex">
                                <div class="d-flex align-middle pb-2">
                                    <div class="flex-shrink-0">
                                        <img src="/images/small/img-1.jpg" class="rounded img-fluid" style="height:120px;" alt="">
                                    </div>
                                    <div class="flex-grow-1 ms-3 d-flex justify-content-between">
                                        <div>
                                            <p class=" fs-12 mb-0">Title </p>
                                            <h6 class="mb-1 fs-12">Summary</h6>
                                            <h6 class="mb-1 lh-base">
                                                <a href="#" class="text-reset">
                                                Description: This is due to their excellent service, competitive pricing and customer support. 
                                                It’s throughly refresing to get such a personal touch. 
                                                Duis aute lorem ipsum is simply free text irure dolor in reprehenderit in esse 
                                                nulla pariatur.
                                                </a>
                                            </h6>
                                        </div>
                                        <div class="flex-shrink-0 avatar-xs align-self-center me-3">
                                            <a href="/Home/News/EditNews" class="avatar-title bg-light rounded-circle fs-16 text-primary btn ">
                                                <i  class="bx bx-dots-horizontal-rounded"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div><!-- end -->
                        </div>
                    </div>
                    <div class="card border-0">
                        <div class="card-body bg-light rounded-4 p-3 d-flex">
                                <div class="d-flex align-middle pb-2">
                                    <div class="flex-shrink-0">
                                        <img src="/images/small/img-1.jpg" class="rounded img-fluid" style="height:120px;" alt="">
                                    </div>
                                    <div class="flex-grow-1 ms-3 d-flex justify-content-between">
                                        <div>
                                            <p class=" fs-12 mb-0">Title </p>
                                            <h6 class="mb-1 fs-12">Summary</h6>
                                            <h6 class="mb-1 lh-base">
                                                <a href="#" class="text-reset">
                                                Description: This is due to their excellent service, competitive pricing and customer support. 
                                                It’s throughly refresing to get such a personal touch. 
                                                Duis aute lorem ipsum is simply free text irure dolor in reprehenderit in esse 
                                                nulla pariatur.
                                                </a>
                                            </h6>
                                        </div>
                                        <div class="flex-shrink-0 avatar-xs align-self-center me-3">
                                            <a href="/Home/News/EditNews" class="avatar-title bg-light rounded-circle fs-16 text-primary btn ">
                                                <i  class="bx bx-dots-horizontal-rounded"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div><!-- end -->
                        </div>
                    </div>
                    <div class="card border-0">
                        <div class="card-body bg-light rounded-4 p-3 d-flex">
                                <div class="d-flex align-middle pb-2">
                                    <div class="flex-shrink-0">
                                        <img src="/images/small/img-1.jpg" class="rounded img-fluid" style="height:120px;" alt="">
                                    </div>
                                    <div class="flex-grow-1 ms-3 d-flex justify-content-between">
                                        <div>
                                            <p class=" fs-12 mb-0">Title </p>
                                            <h6 class="mb-1 fs-12">Summary</h6>
                                            <h6 class="mb-1 lh-base">
                                                <a href="#" class="text-reset">
                                                Description: This is due to their excellent service, competitive pricing and customer support. 
                                                It’s throughly refresing to get such a personal touch. 
                                                Duis aute lorem ipsum is simply free text irure dolor in reprehenderit in esse 
                                                nulla pariatur.
                                                </a>
                                            </h6>
                                        </div>
                                        <div class="flex-shrink-0 avatar-xs align-self-center me-3">
                                            <a href="/Home/News/EditNews" class="avatar-title bg-light rounded-circle fs-16 text-primary btn ">
                                                <i  class="bx bx-dots-horizontal-rounded"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div><!-- end -->
                        </div>
                    </div>
                    <div class="card border-0">
                        <div class="card-body bg-light rounded-4 p-3 d-flex">
                                <div class="d-flex align-middle pb-2">
                                    <div class="flex-shrink-0">
                                        <img src="/images/small/img-1.jpg" class="rounded img-fluid" style="height:120px;" alt="">
                                    </div>
                                    <div class="flex-grow-1 ms-3 d-flex justify-content-between">
                                        <div>
                                            <p class=" fs-12 mb-0">Title </p>
                                            <h6 class="mb-1 fs-12">Summary</h6>
                                            <h6 class="mb-1 lh-base">
                                                <a href="#" class="text-reset">
                                                Description: This is due to their excellent service, competitive pricing and customer support. 
                                                It’s throughly refresing to get such a personal touch. 
                                                Duis aute lorem ipsum is simply free text irure dolor in reprehenderit in esse 
                                                nulla pariatur.
                                                </a>
                                            </h6>
                                        </div>
                                        <div class="flex-shrink-0 avatar-xs align-self-center me-3">
                                            <a href="/Home/News/EditNews" class="avatar-title bg-light rounded-circle fs-16 text-primary btn ">
                                                <i  class="bx bx-dots-horizontal-rounded"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div><!-- end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
