@page
@model NddcWebsiteCMS.Pages.WhoWeAre.Our_PropleModel
@{
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Our People</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Our People</a></li>
                    <li class="breadcrumb-item active">All People</li>
                </ol> 
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Our People</h4>
                <div>
                    <a href="/Home/News/AddNews" type="button" class="btn btn-soft-primary btn-sm">
                       Add People
                    </a>
                </div>
            </div><!-- end card-header -->

            <div class="card-body">
                <div class="d-flex mt-4 align-center">
                    <div class="flex-shrink-0">
                        <img src="/images/team/image-1.png" alt="" class="rounded-circle avatar-xl">
                    </div>
                    <div class="flex-grow-1 ms-3 d-flex justify-content-between align-self-center">
                        <div class="align-center">
                            <h6 class="mb-1 lh-base"><a href="#" class="fs-18 text-reset">Chiedu Ebie</a></h6>
                            <p class="text-muted fs-12 mb-0">Chairman</p>
                        </div>
                        <div class="flex-shrink-0 align-self-center me-3">
                                <a class="bg-light fs-16 text-primary btn text-center ">
                                    <i class="ri-sip-fill me-2"></i>Update
                                </a>
                            </div>
                    </div>
                </div><!-- end -->
                <div class="d-flex mt-4 align-center">
                    <div class="flex-shrink-0">
                        <img src="/images/team/image-2.png" alt="" class="rounded-circle avatar-xl">
                    </div>
                    <div class="flex-grow-1 ms-3 d-flex justify-content-between align-self-center">
                        <div class="align-center">
                            <h6 class="mb-1 lh-base"><a href="#" class="fs-18 text-reset">Dr. Samuel Ogbuku</a></h6>
                            <p class="text-muted fs-12 mb-0">Managing Director</p>
                        </div>
                        <div class="flex-shrink-0 align-self-center me-3">
                                <a class="bg-light fs-16 text-primary btn text-center ">
                                    <i class="ri-sip-fill me-2"></i>Update
                                </a>
                            </div>
                    </div>
                </div><!-- end -->
                <div class="d-flex mt-4 align-center">
                    <div class="flex-shrink-0">
                        <img src="/images/team/image-3.png" alt="" class="rounded-circle avatar-xl">
                    </div>
                    <div class="flex-grow-1 ms-3 d-flex justify-content-between align-self-center">
                        <div class="align-center">
                            <h6 class="mb-1 lh-base"><a href="#" class="fs-18 text-reset">Alabo (Hon.) Boma Iyaye, Esq, DSSRS</a></h6>
                            <p class="text-muted fs-12 mb-0">EDFA</p>
                        </div>
                        <div class="flex-shrink-0 align-self-center me-3">
                                <a class="bg-light fs-16 text-primary btn text-center ">
                                    <i class="ri-sip-fill me-2"></i>Update
                                </a>
                            </div>
                    </div>
                </div><!-- end -->
                <div class="d-flex mt-4 align-center">
                    <div class="flex-shrink-0">
                        <img src="/images/team/image-4.png" alt="" class="rounded-circle avatar-xl">
                    </div>
                    <div class="flex-grow-1 ms-3 d-flex justify-content-between align-self-center">
                        <div class="align-center">
                            <h6 class="mb-1 lh-base"><a href="#" class="fs-18 text-reset">Sir Victor Etim Antai</a></h6>
                            <p class="text-muted fs-12 mb-0">EDP</p>
                        </div>
                        <div class="flex-shrink-0 align-self-center me-3">
                                <a class="bg-light fs-16 text-primary btn text-center ">
                                    <i class="ri-sip-fill me-2"></i>Update
                                </a>
                            </div>
                    </div>
                </div><!-- end -->
                <div class="d-flex mt-4 align-center">
                    <div class="flex-shrink-0">
                        <img src="/images/team/image-5.png" alt="" class="rounded-circle avatar-xl">
                    </div>
                    <div class="flex-grow-1 ms-3 d-flex justify-content-between align-self-center">
                        <div class="align-center">
                            <h6 class="mb-1 lh-base"><a href="#" class="fs-18 text-reset">Hon. Ifedayo Abegunde</a></h6>
                            <p class="text-muted fs-12 mb-0">EDCS</p>
                        </div>
                        <div class="flex-shrink-0 align-self-center me-3">
                                <a class="bg-light fs-16 text-primary btn text-center ">
                                    <i class="ri-sip-fill me-2"></i>Update
                                </a>
                            </div>
                    </div>
                </div><!-- end -->
                <div class="d-flex mt-4 align-center">
                    <div class="flex-shrink-0">
                        <img src="/images/team/image-6.png" alt="" class="rounded-circle avatar-xl">
                    </div>
                    <div class="flex-grow-1 ms-3 d-flex justify-content-between align-self-center">
                        <div class="align-center">
                            <h6 class="mb-1 lh-base"><a href="#" class="fs-18 text-reset">Chief Eruba Dimgba</a></h6>
                            <p class="text-muted fs-12 mb-0">Abia State Representative</p>
                        </div>
                        <div class="flex-shrink-0 align-self-center me-3">
                                <a class="bg-light fs-16 text-primary btn text-center ">
                                    <i class="ri-sip-fill me-2"></i>Update
                                </a>
                            </div>
                    </div>
                </div><!-- end -->
                <div class="d-flex mt-4 align-center">
                    <div class="flex-shrink-0">
                        <img src="/images/team/image-7.png" alt="" class="rounded-circle avatar-xl">
                    </div>
                    <div class="flex-grow-1 ms-3 d-flex justify-content-between align-self-center">
                        <div class="align-center">
                            <h6 class="mb-1 lh-base"><a href="#" class="fs-18 text-reset">Pastor Abasiandikan Robert Nkono</a></h6>
                            <p class="text-muted fs-12 mb-0">Akwa Ibom State Representative</p>
                        </div>
                        <div class="flex-shrink-0 align-self-center me-3">
                                <a class="bg-light fs-16 text-primary btn text-center ">
                                    <i class="ri-sip-fill me-2"></i>Update
                                </a>
                            </div>
                    </div>
                </div>
                <!-- end -->
                <div class="d-flex mt-4 align-center">
                    <div class="flex-shrink-0">
                        <img src="/images/team/image-8.png" alt="" class="rounded-circle avatar-xl">
                    </div>
                    <div class="flex-grow-1 ms-3 d-flex justify-content-between align-self-center">
                        <div class="align-center">
                            <h6 class="mb-1 lh-base"><a href="#" class="fs-18 text-reset">Elder Senator Dimaro Denyanbofa</a></h6>
                            <p class="text-muted fs-12 mb-0">Bayelsa State Representative</p>
                        </div>
                        <div class="flex-shrink-0 align-self-center me-3">
                                <a class="bg-light fs-16 text-primary btn text-center ">
                                    <i class="ri-sip-fill me-2"></i>Update
                                </a>
                            </div>
                    </div>
                </div><!-- end -->
                <div class="d-flex mt-4 align-center">
                    <div class="flex-shrink-0">
                        <img src="/images/team/image-9.png" alt="" class="rounded-circle avatar-xl">
                    </div>
                    <div class="flex-grow-1 ms-3 d-flex justify-content-between align-self-center">
                        <div class="align-center">
                            <h6 class="mb-1 lh-base"><a href="#" class="fs-18 text-reset">Hon. (Chief) Orok Otu Duke (J.P.)</a></h6>
                            <p class="text-muted fs-12 mb-0">Cross River State Representative</p>
                        </div>
                        <div class="flex-shrink-0 align-self-center me-3">
                                <a class="bg-light fs-16 text-primary btn text-center ">
                                    <i class="ri-sip-fill me-2"></i>Update
                                </a>
                            </div>
                    </div>
                </div><!-- end -->
                <div class="d-flex mt-4 align-center">
                    <div class="flex-shrink-0">
                        <img src="/images/team/image-10.png" alt="" class="rounded-circle avatar-xl">
                    </div>
                    <div class="flex-grow-1 ms-3 d-flex justify-content-between align-self-center">
                        <div class="align-center">
                            <h6 class="mb-1 lh-base"><a href="#" class="fs-18 text-reset">Rt. Hon. Monday Igbuya</a></h6>
                            <p class="text-muted fs-12 mb-0">Delta State Representative</p>
                        </div>
                        <div class="flex-shrink-0 align-self-center me-3">
                                <a class="bg-light fs-16 text-primary btn text-center ">
                                    <i class="ri-sip-fill me-2"></i>Update
                                </a>
                            </div>
                    </div>
                </div><!-- end -->
                <div class="d-flex mt-4 align-center">
                    <div class="flex-shrink-0">
                        <img src="/images/team/image-11.png" alt="" class="rounded-circle avatar-xl">
                    </div>
                    <div class="flex-grow-1 ms-3 d-flex justify-content-between align-self-center">
                        <div class="align-center">
                            <h6 class="mb-1 lh-base"><a href="#" class="fs-18 text-reset">Patrick Aisowieren</a></h6>
                            <p class="text-muted fs-12 mb-0">Edo State Representative</p>
                        </div>
                        <div class="flex-shrink-0 align-self-center me-3">
                                <a class="bg-light fs-16 text-primary btn text-center ">
                                    <i class="ri-sip-fill me-2"></i>Update
                                </a>
                            </div>
                    </div>
                </div><!-- end -->
                <div class="d-flex mt-4 align-center">
                    <div class="flex-shrink-0">
                        <img src="/images/team/image-12.png" alt="" class="rounded-circle avatar-xl">
                    </div>
                    <div class="flex-grow-1 ms-3 d-flex justify-content-between align-self-center">
                        <div class="align-center">
                            <h6 class="mb-1 lh-base"><a href="#" class="fs-18 text-reset">Chidiebere Kyrian Uchegbu</a></h6>
                            <p class="text-muted fs-12 mb-0">Imo State Representative</p>
                        </div>
                        <div class="flex-shrink-0 align-self-center me-3">
                                <a class="bg-light fs-16 text-primary btn text-center ">
                                    <i class="ri-sip-fill me-2"></i>Update
                                </a>
                            </div>
                    </div>
                </div><!-- end -->
                <div class="d-flex mt-4 align-center">
                    <div class="flex-shrink-0">
                        <img src="/images/team/image-13.png" alt="" class="rounded-circle avatar-xl">
                    </div>
                    <div class="flex-grow-1 ms-3 d-flex justify-content-between align-self-center">
                        <div class="align-center">
                            <h6 class="mb-1 lh-base"><a href="#" class="fs-18 text-reset">(Prince) Otito Thompson Atikase</a></h6>
                            <p class="text-muted fs-12 mb-0">Ondo State Representative</p>
                        </div>
                        <div class="flex-shrink-0 align-self-center me-3">
                                <a class="bg-light fs-16 text-primary btn text-center ">
                                    <i class="ri-sip-fill me-2"></i>Update
                                </a>
                            </div>
                    </div>
                </div><!-- end -->
                <div class="d-flex mt-4 align-center">
                    <div class="flex-shrink-0">
                        <img src="/images/team/image-14.png" alt="" class="rounded-circle avatar-xl">
                    </div>
                    <div class="flex-grow-1 ms-3 d-flex justify-content-between align-self-center">
                        <div class="align-center">
                            <h6 class="mb-1 lh-base"><a href="#" class="fs-18 text-reset">Sir Anthony Chinedu Okocha</a></h6>
                            <p class="text-muted fs-12 mb-0">Rivers State Representative</p>
                        </div>
                        <div class="flex-shrink-0 align-self-center me-3">
                                <a class="bg-light fs-16 text-primary btn text-center ">
                                    <i class="ri-sip-fill me-2"></i>Update
                                </a>
                            </div>
                    </div>
                </div><!-- end -->
                <div class="d-flex mt-4 align-center">
                    <div class="flex-shrink-0">
                        <img src="/images/team/image-15.png" alt="" class="rounded-circle avatar-xl">
                    </div>
                    <div class="flex-grow-1 ms-3 d-flex justify-content-between align-self-center">
                        <div class="align-center">
                            <h6 class="mb-1 lh-base"><a href="#" class="fs-18 text-reset">Nicholas Wende</a></h6>
                            <p class="text-muted fs-12 mb-0">North Central Representative</p>
                        </div>
                        <div class="flex-shrink-0 align-self-center me-3">
                                <a class="bg-light fs-16 text-primary btn text-center ">
                                    <i class="ri-sip-fill me-2"></i>Update
                                </a>
                            </div>
                    </div>
                </div><!-- end -->
                <div class="d-flex mt-4 align-center">
                    <div class="flex-shrink-0">
                        <img src="/images/team/image-16.png" alt="" class="rounded-circle avatar-xl">
                    </div>
                    <div class="flex-grow-1 ms-3 d-flex justify-content-between align-self-center">
                        <div class="align-center">
                            <h6 class="mb-1 lh-base"><a href="#" class="fs-18 text-reset">Dr. Abdulrazzak Sa'ad Namdas</a></h6>
                            <p class="text-muted fs-12 mb-0">North East Representative</p>
                        </div>
                        <div class="flex-shrink-0 align-self-center me-3">
                                <a class="bg-light fs-16 text-primary btn text-center ">
                                    <i class="ri-sip-fill me-2"></i>Update
                                </a>
                            </div>
                    </div>
                </div><!-- end -->
                <div class="d-flex mt-4 align-center">
                    <div class="flex-shrink-0">
                        <img src="/images/team/image-17.png" alt="" class="rounded-circle avatar-xl">
                    </div>
                    <div class="flex-grow-1 ms-3 d-flex justify-content-between align-self-center">
                        <div class="align-center">
                            <h6 class="mb-1 lh-base"><a href="#" class="fs-18 text-reset">Ibrahim Abdullahi Gobir MFR, CON</a></h6>
                            <p class="text-muted fs-12 mb-0">North West Representative</p>
                        </div>
                        <div class="flex-shrink-0 align-self-center me-3">
                                <a class="bg-light fs-16 text-primary btn text-center ">
                                    <i class="ri-sip-fill me-2"></i>Update
                                </a>
                            </div>
                    </div>
                </div><!-- end -->

            </div>
        </div>
    </div>
</div>

