@page
@model NddcWebsiteCMS.Pages.Home.Testimonial.Add_TestimonialModel
@{
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Add Testimonial</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Testimonials</a></li>
                    <li class="breadcrumb-item active">Add Testimonial</li>
                </ol> 
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="card col-9">
    <div class="card-body">
        <form action="javascript:void(0);">
            <div class="row">
                <div class="col-12">
                    <div class="mb-3">
                        <label for="firstNameinput" class="form-label">Testimonial By:</label>
                        <input type="text" class="form-control bg-light border-0" placeholder="Enter Full Name (75 char.)" id="firstNameinput">
                    </div>
                </div><!--end col-->
                <div class="col-12">
                    <div class="mb-3">
                        <label for="firstNameinput" class="form-label">Occupation</label>
                        <input type="text" class="form-control bg-light border-0" placeholder="Enter Occupation" id="firstNameinput">
                    </div>
                </div><!--end col-->
                <div class="col-12">
                    <div class="mb-3">
                        <label for="lastNameinput" class="form-label">Testimonial</label>
                        <textarea class="form-control bg-light border-0" placeholder="Enter Testimonial (280 char.)" id="exampleFormControlTextarea5" rows="3"></textarea>
                    </div>
                </div><!--end col-->

                <div class="col-12">
                    <div class="mb-3">
                        <label class="form-label" for="customFile">Add Testimonial Image</label>
                        <input type="file" class="form-control bg-light border-0" id="customFile" /></div>
                </div>
               
               
            </div>
            <div class="col-lg-12">
                    <div class="text-end">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div><!--end col-->
        </form>
    </div>
</div>
</div>