@page
@model NddcWebsiteCMS.Pages.Media.Videos.AllVideosModel
@{
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">All Videos</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Videos</a></li>
                    <li class="breadcrumb-item active">All Videos</li>
                </ol> 
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="">
        <div class="card">
            <div class="card-header justify-content-end align-items-center d-flex">
                <div>
                    <a href="/Media/Videos/AddVideos" type="button" class="btn btn-primary">
                       Create Videos
                    </a>
                </div>
            </div><!-- end card-header -->

            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6 col-xl-3">
                        <!-- Simple card -->
                        <div class="card">
                            <div class="ratio ratio-16x9">
                                <iframe src="https://www.youtube.com/embed/6plvkizQOv4" title="NDDC video" allowfullscreen></iframe>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title mb-2">NDDC Inaugurates Aquaculture Training Centre in Abia, Advances SDGs on Poverty Eradication.</h4>
                                </div>
                        </div><!-- end card -->
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <!-- Simple card -->
                        <div class="card">
                            <div class="ratio ratio-16x9">
                                <iframe src="https://www.youtube.com/embed/6plvkizQOv4" title="NDDC video" allowfullscreen></iframe>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title mb-2">NDDC Inaugurates Aquaculture Training Centre in Abia, Advances SDGs on Poverty Eradication.</h4>
                                </div>
                        </div><!-- end card -->
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <!-- Simple card -->
                        <div class="card">
                            <div class="ratio ratio-16x9">
                                <iframe src="https://www.youtube.com/embed/6plvkizQOv4" title="NDDC video" allowfullscreen></iframe>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title mb-2">NDDC Inaugurates Aquaculture Training Centre in Abia, Advances SDGs on Poverty Eradication.</h4>
                                </div>
                        </div><!-- end card -->
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <!-- Simple card -->
                        <div class="card">
                            <div class="ratio ratio-16x9">
                                <iframe src="https://www.youtube.com/embed/6plvkizQOv4" title="NDDC video" allowfullscreen></iframe>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title mb-2">NDDC Inaugurates Aquaculture Training Centre in Abia, Advances SDGs on Poverty Eradication.</h4>
                                </div>
                        </div><!-- end card -->
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <!-- Simple card -->
                        <div class="card">
                            <div class="ratio ratio-16x9">
                                <iframe src="https://www.youtube.com/embed/6plvkizQOv4" title="NDDC video" allowfullscreen></iframe>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title mb-2">NDDC Inaugurates Aquaculture Training Centre in Abia, Advances SDGs on Poverty Eradication.</h4>
                                </div>
                        </div><!-- end card -->
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <!-- Simple card -->
                        <div class="card">
                            <div class="ratio ratio-16x9">
                                <iframe src="https://www.youtube.com/embed/6plvkizQOv4" title="NDDC video" allowfullscreen></iframe>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title mb-2">NDDC Inaugurates Aquaculture Training Centre in Abia, Advances SDGs on Poverty Eradication.</h4>
                                </div>
                        </div><!-- end card -->
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <!-- Simple card -->
                        <div class="card">
                            <div class="ratio ratio-16x9">
                                <iframe src="https://www.youtube.com/embed/6plvkizQOv4" title="NDDC video" allowfullscreen></iframe>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title mb-2">NDDC Inaugurates Aquaculture Training Centre in Abia, Advances SDGs on Poverty Eradication.</h4>
                                </div>
                        </div><!-- end card -->
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <!-- Simple card -->
                        <div class="card">
                            <div class="ratio ratio-16x9">
                                <iframe src="https://www.youtube.com/embed/6plvkizQOv4" title="NDDC video" allowfullscreen></iframe>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title mb-2">NDDC Inaugurates Aquaculture Training Centre in Abia, Advances SDGs on Poverty Eradication.</h4>
                                </div>
                        </div><!-- end card -->
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*<!-- Ratio Video 16:9 -->
<div class="ratio ratio-16x9">
    <iframe src="https://www.youtube.com/embed/1y_kfWUCFDQ" title="YouTube video" allowfullscreen></iframe>
</div>*@