@page "{Id:int?}"
@model NddcWebsiteCMS.Pages.Media.Videos.DeleteVideosModel
@{
}
<h1>Are You Sure You Want to Delete This Video</h1>

<form method="post">
    <button type="submit" class="btn btn-primary">Delete</button>
</form>